* {
    padding: 0;
    margin: 0;
}

:root {
    --color-fondo: #000000;
    --color-letras: white;
    --color-footer_header: #2EF527;
    --color-letras_footer_header: #000;
    --color-hover: #272727;
}

header {
    padding: 2% 0% 0% 15%;
    background-color: var(--color-footer_header);
}
.imagenes {
    width: clamp(150px, 20%, 300px); 
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}
footer {
    padding: 15px;
    text-align: center;
    color: var(--color-letras_footer_header);
    background-color: var(--color-footer_header);
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
}

.tituloinicial {
    text-align: center;
    color: var(--color-letras);
}

.texto {
    text-align: justify;
    font-size: 1.5rem;
    color: var(--color-letras);
    padding: 0% 0% 80% 0%;
}

.Presentador {
    width: clamp(250px, 35%, 600px); 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Presentador_total {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


@media (max-width: 768px) {
    .Presentador_total {
        flex-direction: column;
        align-items: center;
    }

    .Presentador {
        width: 100%;
    }
.texto{
    padding: 5%;
 
}
 .imagenes {
        width: 80vw;         
        aspect-ratio: 1 / 1; 
        object-fit: cover;   
        padding: 10% 0% 0% 10%;
    }
}
