@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
}

:root {
    --color-fondo: #030303;
    --color-letras: white;
    --color-footer_header: #027c00;
    --color-letras_footer_header: #ffffff;
    --color-hover: #272727;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
header {
    padding: 2% 0% 0% 15%;
    background-color: var(--color-footer_header);
    position: relative; 
    height: 40px; 
}
.imagenes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50px; 
}
.imagenes img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
}
footer {
    padding: 15px;
    text-align: center;
    color: var(--color-letras_footer_header);
    background-color: var(--color-footer_header);
    font-family: var(--fuente-krona);
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
}

.tituloinicial {
    text-align: center;
    color: var(--color-letras);
    font-family: var(--fuente-krona);
}

.texto {
    text-align: left;
    font-size: 1.5rem;
    color: var(--color-letras);
    padding: 0% 0% 80% 0%;
    font-family: var(--fuente-montserrat);
}

.Presentador {
    width: clamp(250px, 35%, 600px); 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Presentador_total {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    gap: 30px;
}

.Links_Paginas{
font-family: var(--fuente-krona);
text-decoration: none;
text-align: left;
font-size: 1.2rem;
color: var(--color-letras);
}
nav{
    padding: 0% 0% 2% 0%;
}
.Links_Paginas:hover{
   color: aqua;
}
.ImagenHeader{
    position: absolute;
    top: 0;
    right: 0;
    height: 80%; 
    width: auto;
}
@media (max-width: 768px) {
    .Presentador_total {
        flex-direction: column;
        align-items: center;
    }

    .Presentador {
        width: 100%;
    }
.texto{
    padding: 5%;
 
}
 .imagenes {
        width: 80vw;         
        aspect-ratio: 1 / 1; 
        object-fit: cover;   
        padding: 10% 0% 0% 10%;
    }
}
